<!-- Main content-->
<section class="content" ng-controller="flotChartsCtrl">
    <div class="container-fluid">


        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="pull-right text-right" style="line-height: 14px">
                        <small>Charts and graphs<br>UI Elements<br> <span class="c-white">Flot charts</span></small>
                    </div>
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-graph2"></i>
                    </div>
                    <div class="header-title">
                        <h3>Flot charts</h3>
                        <small>
                            Flot is a pure JavaScript plotting library for jQuery, with a focus on simple usage, attractive looks and interactive features.
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>


        <div class="row">

            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div panel-tools></div>
                        Points type chart
                    </div>
                    <div class="panel-body">
                        <div class="flot-chart">
                            <div flot class="flot-chart-content" dataset="chartFlotData1" options="chartFlotOptions1"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div panel-tools></div>
                        Line type chart
                    </div>
                    <div class="panel-body">
                        <div class="flot-chart">
                            <div flot class="flot-chart-content" dataset="chartFlotData2" options="chartFlotOptions2"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div panel-tools></div>
                        Line type chart with tension
                    </div>
                    <div class="panel-body">
                        <div class="flot-chart">
                            <div flot class="flot-chart-content" dataset="chartFlotData5" options="chartFlotOptions5"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div panel-tools></div>
                        Line type chart with steps
                    </div>
                    <div class="panel-body">
                        <div class="flot-chart">
                            <div flot class="flot-chart-content" dataset="chartFlotData4" options="chartFlotOptions4"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div panel-tools></div>
                        Bar type chart
                    </div>
                    <div class="panel-body">
                        <div class="flot-chart">
                            <div flot class="flot-chart-content" dataset="chartFlotData3" options="chartFlotOptions3"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <div panel-tools></div>
                        Filled Area type chart
                    </div>
                    <div class="panel-body">
                        <div class="flot-chart">
                            <div flot class="flot-chart-content" dataset="chartFlotData6" options="chartFlotOptions6"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</section>
<!-- End main content-->