<!-- Main content-->
<section class="content" ng-controller="metricsCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-body">

                        <h3 class="m-b-xs"><i class="pe pe-7s-graph1 text-warning m-r-xs"></i> Metrics </h3>
                        <hr/>
                        <p class="small">
                            <span class="c-white">Monitoring view provide real time</span>
                            data from geographically distributed servers. Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.
                        </p>
                        <hr/>
                        <div class="row">
                            <div class="col-md-3 col-xs-6">
                                <small class="stat-label">Today</small>
                                <h4 class="m-t-xs">170,20 <i class="fa fa-level-up text-accent"></i></h4>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <small class="stat-label">Last month %</small>
                                <h4 class="m-t-xs">20,20% <i class="fa fa-level-down c-white"></i></h4>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <small class="stat-label">Last year</small>
                                <h4 class="m-t-xs">246,40 <i class="fa fa-level-up text-white"></i></h4>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <small class="stat-label">Month %</small>
                                <h4 class="m-t-xs">59,30% <i class="fa fa-level-up text-white"></i></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6  m-t-sm">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6"><h5 class="m-t-xs">Metrics A</h5></div>
                            <div class="col-sm-6 text-right"><samll> 2,234.77 </samll></div>
                        </div>
                        <div class="flot-chart-analytics">
                            <div flot class="flot-chart-content" dataset="chartData1" options="chartOptions1"></div>
                        </div>
                        <div class="text-right font-bold c-white">
                            531.12 (3.22%)
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 m-t-sm">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6"><h5 class="m-t-xs">Metrics B</h5></div>
                            <div class="col-sm-6 text-right"><samll> 1,221.43 </samll></div>
                        </div>
                        <div class="flot-chart-analytics">
                            <div flot class="flot-chart-content" dataset="chartData2" options="chartOptions2"></div>
                        </div>
                        <div class="text-right font-bold c-white">
                            221.65 (2.18%)
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6"><h5 class="m-t-xs">Metrics C</h5></div>
                            <div class="col-sm-6 text-right"><samll> 2,422.21 </samll></div>
                        </div>
                        <div class="flot-chart-analytics">
                            <div flot class="flot-chart-content" dataset="chartData3" options="chartOptions3"></div>
                        </div>
                        <div class="text-right font-bold c-white">
                            167.22 (2.43%)
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6"><h5 class="m-t-xs">Metrics D</h5></div>
                            <div class="col-sm-6 text-right"><samll> 1,460.10 </samll></div>
                        </div>
                        <div class="flot-chart-analytics">
                            <div flot class="flot-chart-content" dataset="chartData4" options="chartOptions4"></div>
                        </div>
                        <div class="text-right font-bold c-white">
                            210.08 (2.43%)
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="panel panel-filled">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6"><h5 class="m-t-xs">Metrics E</h5></div>
                            <div class="col-sm-6 text-right"><samll> 4,453.69 </samll></div>
                        </div>
                        <div class="flot-chart-analytics">
                            <div flot class="flot-chart-content" dataset="chartData5" options="chartOptions5"></div>
                        </div>
                        <div class="text-right font-bold c-white y-value">
                            222.53 (1.18%)
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6"><h5 class="m-t-xs">Metrics F</h5></div>
                            <div class="col-sm-6 text-right"><samll> 2,422.21 </samll></div>
                        </div>
                        <div class="flot-chart-analytics">
                            <div flot class="flot-chart-content" dataset="chartData2" options="chartOptions2"></div>
                        </div>
                        <div class="text-right font-bold c-white">
                            167.22 (2.43%)
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6"><h5 class="m-t-xs">Metrics G</h5></div>
                            <div class="col-sm-6 text-right"><samll> 4,453.69 </samll></div>
                        </div>
                        <div class="flot-chart-analytics">
                            <div flot class="flot-chart-content" dataset="chartData1" options="chartOptions1"></div>
                        </div>
                        <div class="text-right font-bold c-white">
                            222.53 (1.18%)
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6"><h5 class="m-t-xs">Metrics H</h5></div>
                            <div class="col-sm-6 text-right"><samll> 2,234.77 </samll></div>
                        </div>
                        <div class="flot-chart-analytics">
                            <div flot class="flot-chart-content" dataset="chartData3" options="chartOptions3"></div>
                        </div>
                        <div class="text-right font-bold c-white">
                            531.12 (3.22%)
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6"><h5 class="m-t-xs">Metrics I</h5></div>
                            <div class="col-sm-6 text-right"><samll> 1,221.43 </samll></div>
                        </div>
                        <div class="flot-chart-analytics">
                            <div flot class="flot-chart-content" dataset="chartData4" options="chartOptions4"></div>
                        </div>
                        <div class="text-right font-bold c-white">
                            221.65 (2.18%)
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
<!-- End main content-->