<template name="navigation">

    <aside class="navigation">
        <nav>
            <ul class="nav luna-nav">
                <li class="nav-category">
                    Main
                </li>
                <li class="{{isActivePath '/index'}}">
                    <a href="/index">Index</a>
                </li>


                <li class="nav-info">
                    <div class="m-t-xs">
                        <span class="c-white">Example</span> text.
                    </div>
                </li>
            </ul>
        </nav>
    </aside>

</template>